<h2>Detalhes do Galpão</h2>

<h3><%= @warehouse["name"] %> - <%= @warehouse["code"] %></h3>
<div>
  <p>Cidade: <%= @warehouse["city"] %></p>
  <p>Endereço: <%= @warehouse["address"] %> - <%= @warehouse["cep"] %></p>
  <p>Área: <%= @warehouse["area"] %>m² </p>
</div>